atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store
atom.symlink/recovery

composer.symlink/cache
composer.symlink/vendor
composer.symlink/.htaccess
composer.symlink/auth.json

git/gitconfig.local.symlink

ssh.symlink/known_hosts
